/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  border: 10px solid rgba(18, 95, 196, 0.808);
  background-color: rgba(0, 153, 255, 0.856);
  color: white;
  font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
  font-size: 22px;
}
h1,
.nice_day {
  height: 20%;
  margin: 25px 50px;
}
.wi {
  font-size: 18px;
}
.sity {
  margin: 10px 50px;
  border: 2px solid #fff;
  width: calc(100% - 120px);
  font-size: 0;
  line-height: 30px;
}
.sity li {
  display: inline-block;
  border: 2px solid #fff;
  height: 100px;
  font-size: 20px;
  text-align: center;
  padding-top: 16px;
}

.Kyiv {
  width: 50%;
  background-color: rgba(0, 166, 216, 0.87);
}

.Odesa {
  width: 25%;
  background-color: rgba(0, 166, 216, 0.87);
}
.Lviv {
  width: 25%;
  background-color: rgba(0, 166, 216, 0.87);
}
.Dnipro {
  width: 25%;
  background-color: rgba(0, 166, 216, 0.87);
}
.Mariupol {
  width: 25%;
  background-color: rgba(0, 166, 216, 0.87);
}
.Ternopil {
  width: 25%;
  background-color: rgba(0, 166, 216, 0.87);
}
.Poltava {
  width: 25%;
  background-color: rgba(0, 166, 216, 0.87);
}

.Uman {
  width: 25%;
  background-color: rgba(247, 237, 110, 0.877);
}
.Lutsk {
  width: 50%;
  background-color: rgba(247, 237, 110, 0.877);
}
.Donetsk {
  width: 25%;
  background-color: rgba(247, 237, 110, 0.877);
}
.Ivano-Frankivsk {
  width: 100%;
  background-color: rgba(40, 32, 112, 0.877);
}

li > span {
  opacity: 0.8;
}



ul:hover li {
  opacity: 0.7;
  transition: all 0.1s ease-in;
}

ul li:hover{
  transition: all 0.1s ease-in;
  opacity: 1;
}